{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />
{% endblock %}

{% block content %}
<div id="app-booth">
<nav class="navbar navbar-light bg-info">
    <a class="navbar-brand" href="#">
      <img src="../../static/booth/images/decideD.png" width="40" height="30" class="d-inline-block align-top" alt="">
      Decide
    </a>
    {% if usuario_valido == 1 %}
    <b-navbar-nav class="me-auto" v-if="!signup">
        <b-nav-item>
            <a href="{% url "logout" %}">Logout</a>
        </b-nav-item>
    </b-navbar-nav>
    {% endif %}
</nav>

<div> 
    <h2>Formulario para sugerencias</h2>
    <a href="sugerenciaformulario/">Formulario de sugerencia</a>
</div>
</br>
<div>
    <h2>Puede votar en estas votaciones:</h2>
    <p>Bienvenido, {{user}}</p>
    <p>Puede votar en {{num_censos}} censos:</p>

    <p>El id del censo al que puede votar es:</p>
    {% for censo in censos %}
        <p>ID del voto: {{censo.voting_id}} <a href="{{censo.voting_id}}">Acceder a la cabina del voto</a></p>
    {% endfor %} 

</div>

<div class="voting-images-inicio">
    <img src="../../static/booth/images/votaciones.png"
  </div>
{% endblock %}
